In [9]:
import pandas as pd
import metpy.calc as mpcalc
from metpy.units import units

In [29]:
df = pd.read_csv('wind2023.csv', sep=';', parse_dates=['Time(norwegian mean time)'], dayfirst=True)

In [31]:
df = df.set_index(['Time(norwegian mean time)'])

In [32]:
speed = df['Mean wind speed'].to_numpy() * units['m/s']
direction = df['Wind direction'].to_numpy() * units.degrees

In [33]:
u, v = mpcalc.wind_components(speed, direction)

In [34]:
df['u'] = u
df['v'] = v

In [46]:
df[['u', 'v']].resample('30d').interpolate()

                                  u         v
Time(norwegian mean time)
2023-01-01                      NaN       NaN
2023-01-31                 0.940456  1.294427
2023-03-02                -0.610105 -1.370318
2023-04-01                 1.094464 -3.007016
2023-05-01                -0.782870  1.160653
2023-05-31                -0.305294  1.570603
2023-06-30                -1.504926  3.380118
2023-07-30                -0.228971  1.177953
2023-08-29                -0.789068 -1.617829
2023-09-28                -0.104587 -1.195434
2023-10-28                 0.891996 -1.677600
2023-11-27                 1.250000 -2.165064
2023-12-27                 1.316572 -2.583919

In [38]:
df_hourly = df[['u', 'v']].resample('1H').interpolate()

In [44]:
df_hourly['2023-01-01 01:00:00':'2024-01-01 00:00:00'].to_csv('wind2023_1h.csv')

In [41]:
df_6h = df[['u', 'v']].resample('6H').mean()

In [45]:
df_6h['2023-01-01 01:00:00':'2024-01-01 00:00:00'].to_csv('wind2023_6h.csv')